terraform {
  backend "s3" {
    dynamodb_table = "bedrock-tfstate"
  }
}

# terraform init                            \
# -backend-config="bucket=indigocapybara-tfstate"   \
# -backend-config="key=bedrock/TEMPLATE"  \
# -backend-config="region=ap-southeast-2"        \
# -reconfigure

# SECRET for BEDROCK_TF_STATE 
# awk 'NF && ! /#/' remote_state.tf | base64
