// Gitlab variables
gitlab_url      = "https://gitlab.com"
aud_value       = "https://gitlab.com"
gitlab_match    = ["project_path:yourproject/*:ref_type:branch:ref:*"]
gitlab_field    = "sub"

// Github Variables
github_match    = ["repo:yourorg/your-repo:*"]
github_field    = "sub"

// Bitbucket Variables
bitbucket_workspace = "yourworkspace"
bitbucket_workspaceid = "unique-workspace-id"

// Unique Bootstrap Variables
unique_prefix = "bedrock"
base_region = "ap-southeast-2"