terraform {
  backend "s3" {
    // bucket      = "%unique_prefix%-tfstate"  # we send this as a command line param, so this isnt needed, eg terraform init -backend-config="bucket=uniqueidentity-tfstate"
    // key         = "org"                      # we send this as a command line param, so this isnt needed, eg terraform init -backend-config="key=environment"
    region         = "ap-southeast-2"
    dynamodb_table = "bedrock-tfstate"
  }
}
